/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .main-page{
        flex-basis: 100%;
    }
    .tasks-list .single-task .done-btn{
        flex-basis: 10%;
    }
    .tasks-list .single-task .task-name{
        flex-basis: 80%;
    }
    .tasks-list .single-task .trash-btn{
        flex-basis: 10%;
    }
    .main-page .pg-title .title{
        font-size: 40px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .main-page{
        flex-basis: 80%;
    }
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .main-page{
    flex-basis: 70%;
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .main-page{
    flex-basis: 50%;
}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .main-page{
    flex-basis: 40%;
}
}